// 间距
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 24px;
$padding-xl: 32px;

// 字体大小
$font-xs: 12px;
$font-sm: 13px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 20px;
