:root {
  // 间距
  --nk-padding-xs: 4px;
  --nk-padding-sm: 8px;
  --nk-padding-md: 12px;
  --nk-padding-lg: 24px;
  --nk-padding-xl: 32px;

  // 字体大小
  --nk-font-xs: 12px;
  --nk-font-sm: 13px;
  --nk-font-md: 14px;
  --nk-font-lg: 16px;
  --nk-font-xl: 18px;
  --nk-font-xxl: 20px;
}
