{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
